.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-thread {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.chat-message {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.chat-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.chat-circle-letter {
  font-size: 15px;
  font-weight: bold;
}

.chat-message span {
  font-weight: 600;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.emoji {
  font-size: larger;
  padding-right: 4px;
  cursor: pointer;
}
.send-btn {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input .send-btn:hover {
  background-color: #1e5ea3;
}

.like-button {
  position: absolute;
  top: 17px;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.emoji-picker-react {
  position: fixed;
  right: 6%;
  bottom: 5%; /* Position it above the input field */
  z-index: 1;
}
